@import url('https://fonts.googleapis.com/css2?family=Anton&family=Space+Mono&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1A1A1A;
  --color-secondary: #EBEBEB;
  --color-placeholder: rgba(26, 26, 26, 0.4);
  --color-border: rgba(26, 26, 26, 0.2);
  --font-anton: 'Anton', sans-serif;
  --font-mono: 'Space Mono', monospace;
}

body {
  @apply bg-secondary text-primary font-mono min-h-screen flex flex-col;
}
